html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.page-container {
  width: 320px;
  background-color: #ffffff;
  margin: auto;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 72px;
  box-shadow: 5px 5px 30px rgba(38, 38, 38, 0.16);
}

.logo {
  margin-left: 8px;
}

.btns {
  display: flex;
  justify-content: space-around;
}

.button-text {
  font-family: "Roboto", sans-serif;
  font-size: 11px;
  line-height: 13px;
  font-weight: 500;
}

.default-button {
  background-color: #ffffff;
  border: 1px solid #e0e0e0;
  border-radius: 2px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav-button {
  height: 38px;
  width: 70px;
  margin: 4px;
}

.register-button {
  background-color: #262626;
  color: #ffffff;
  border: 1px solid #262626;
}

.main-container {
  padding: 0px 4px 0px 8px;
}

.search-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  height: 48px;
  color: #626262;
  margin: 32px 4px 0px 8px;
}

.search-text {
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  opacity: 0.5;
}

.search-shape {
  margin: 8px;
}

.search-underline {
  opacity: 0.3;
  width: 100%;
}

.whento-container {
  display: flex;
  margin-top: 24px;
}

.when {
  display: flex;
  flex-direction: column;
}

.to {
  display: flex;
  flex-direction: column;
  margin-left: 16px;
}

.to-asap {
  width: 227px;
  height: 40px;
  justify-content: flex-start;
}

.to__button_logo {
  margin: 12px;
}

.whento-title {
  font-family: "Roboto", sans-serif;
  font-size: 11px;
  line-height: 13px;
  font-weight: 400;
  margin-bottom: 8px;
}

.asap {
  width: 64px;
  height: 40px;
}

.whento-text {
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
}

.content-container {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}

.content-title {
  font-family: "Roboto", sans-serif;
  font-size: 22px;
  line-height: 34px;
  font-weight: 400;
  margin: 0px;
}

.card {
  height: 356px;
  margin-top: 16px;
}

.card-title {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  margin-top: 14px;
}

.card-type {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #626262;
  margin-top: 4px;
}

.card-time {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  margin-top: 4px;
}

.footer-container {
  font-family: "Roboto", sans-serif;
  background-color: #262626;
  color: #ffffff;
  margin-top: 48px;
  padding-left: 8px;
  padding-right: 8px;
  position: relative;
}

.footer-logo {
  margin-top: 56px;
  margin-bottom: 40px;
}

.footer-underline {
  opacity: 0.4;
}

.footer-language {
  -webkit-appearance: none;
  color: #ffffff;
  background-color: #3b3b3b;
  background-image: url(./images/world.svg), url(./images/arrow_down.svg);
  background-position: left center, right center;
  background-repeat: no-repeat;
  background-origin: content-box;
  border-radius: 2px;
  border: 0px solid #000000;
  width: 173px;
  height: 40px;
  padding-left: 16px;
  padding-right: 8px;
  font-size: 13px;
  line-height: 15px;
  text-align-last: center;
}

.language-logo {
  margin: 12px 16px;
}

.language-text {
  display: flex;
  align-items: center;
}

.lang-arrow-down {
  margin-left: 49px;
}

.footer-social {
  margin-top: 32px;
}

.social-sharp {
  display: inline-block;
  color: #49a144;
  margin-right: 1px;
}

.social-links-container {
  display: flex;
  justify-content: space-between;
  width: 96px;
  margin-top: 16px;
}

.nav-links {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding-top: 40px;
  padding-bottom: 40px;
  height: 329px;
}

.store-buttons {
  display: flex;
  justify-content: space-around;
  margin-top: 24px;
  margin-bottom: 24px;
}

.footer-copyrights {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding-top: 40px;
  padding-bottom: 40px;
  font-size: 11px;
  line-height: 13px;
  height: 167px;
}

.btn-up {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 64px;
  height: 64px;
  background-color: #59bd5a;
  border-radius: 2px;
  position: absolute;
  bottom: 24px;
  right: 16px;
}
